[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/sleepy-discord"]
	path = external/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/gif-h"]
	path = external/gif-h
	url = https://github.com/charlietangora/gif-h
