[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/sleepy-discord"]
	path = external/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord
